@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
body {
    background-color: rgb(255, 255, 255);
}

html {
    font-size: 100%;
}

body {
    padding-top: 12.5rem;
}

a {
    color: rgba(0, 0, 0, 0.9)
}

h5 {
    font-family: 'FuturaBT-Heavy', 'Hind';
}

#er-logo {
    position: absolute;
    top: 4.375rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

#er-logo img {
    height: 3.75rem;
}

.er-nav-links {
    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
    font-family: 'FuturaBT-Heavy', 'Hind';
    letter-spacing: 0.1rem;
    text-align: center;
    color: black;
}

.er-outer-nav {
    width: 33.33333%;
}

.er-nav-row i {
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.er-nav-row a {
    color: rgba(0, 0, 0, 0.6)
}

.er-nav-row {
    width: 100%;
    z-index: 5000;
    position: fixed;
    top: 5.3rem;
    left: 0;
}

.er-nav-left {
    width: 100%;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------Works page */

#er-filter-works {
    width: 12rem;
}

.fa {
    font-size: 2rem;
    color: black;
}

/* --------------------------Bootstrap classes */

.navbar {
    display: unset;
    min-height: 12.5rem;
    background-color: rgba(255, 255, 255);
}

.card-columns {
    column-gap: 4.6rem;
}

.card-body {
    padding: 1rem 0 4.6rem 0;
}

.card-body p {
    font-family: 'FuturaBT-Book', 'Hind';
    font-weight: 500;
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    .navbar {
        display: flex;
        height: 12.5rem;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .er-nav-links {
        padding-top: 6.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}