@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
html {
    font-size: 100%;
}

body {
    padding-top: 12.5rem;
    background-color: rgb(255, 255, 255);
}

a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0);
    text-decoration: none;
}

h1 {
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    background-color: rgba(92, 109, 178, 0.7);
    border-radius: 0.35rem;
    padding: 0.3rem;
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.3rem;
}

h4 {
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 1.1rem;
    text-align: right;
    letter-spacing: 0.2rem;
    margin-bottom: 1.3rem;
    margin-right: 1.2rem;
}

h5 {
    font-family: 'FuturaBT-Heavy', 'Hind';
}

p {
    font-size: 0.9rem;
    font-family: sans-serif;
}

#er-logo {
    position: absolute;
    top: 4.375rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

#er-logo img {
    height: 3.75rem;
}

.er-nav-links {
    width: 100%;
    font-family: 'FuturaBT-Heavy', 'Hind';
    letter-spacing: 0.1rem;
    color: black;
}

.er-nav-links div {
    display: inline-block;
}

.er-links-left {
    padding-right: 0;
    padding-left: 0;
}

.er-links-left .er-nav-button {
    margin-left: 0;
    margin-right: 1rem;
}

.er-links-center {
    justify-content: center;
}

.er-links-right {
    padding-right: 0;
    padding-left: 0;
}

.er-links-right .er-nav-button {
    margin-left: 1rem;
    margin-right: 0;
}

.er-nav-button {
    font-family: 'FuturaBT-Book', 'Hind';
    font-size: 0.7rem;
    font-weight: 600;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.er-nav-button .nav-link {
    padding: 0.2rem 0.3rem;
    color: rgba(0, 0, 0, 0.9)!important;
}

.er-nav-button i {
    font-size: 0.8rem;
}

.er-nav-button:hover {
    color: rgba(0, 0, 0);
    background-color: rgba(51, 86, 64, 0.4);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.er-nav-button:active {
    color: white!important;
    background-color: rgba(51, 86, 64, 0.8);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* -----------Filter selectors */

.er-nav-left {
    position: fixed;
    top: 8.7rem;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.er-nav-left i {
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.er-nav-left a {
    color: rgba(0, 0, 0, 0.5)
}

.er-nav-left .form-control, .form-control-file {
    height: unset;
    color: rgba(0, 0, 0);
    padding-left: 0.3rem;
    margin: 0;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.er-messages {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 5000;
    padding: 0.5rem;
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 1.1rem;
    color: rgba(121, 41, 42);
}

/* --------------------------Works page */

.fa {
    font-size: 2rem;
    color: black;
}

/* --------------------------Workdetail page */

.er-detail-container {
    max-width: 1110px;
}

.er-detail-container img {
    width: 100%;
}

.er-detail-container p {
    text-align: justify;
}

.er-detail-container div {
    width: 100%;
}

.er-detail-main {
    width: 100%;
    margin-bottom: 4.68rem;
}

.er-detail-left {
    padding-right: 6.4rem;
    margin-bottom: 4.68rem;
}

.er-detail-right {
    margin-bottom: 4.68rem;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.er-detail-bottom {
    height: 600px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

/* --------------------------Dashboard classes */

/* --------------------------Accounts classes */

.er-accounts-wrap {
    padding-top: 3rem;
}

/* --------------------------Form classes */

form {
    width: 100%;
    color: rgba(0, 0, 0);
    font-size: 0.8rem;
    font-weight: 500;
}

.er-form-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

.er-form-wrap h2 {
    text-align: left;
    padding-left: 1.5rem;
}

.er-form-wrap i {
    margin-right: 1.5rem;
}

.er-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

.er-wrap h2 {
    text-align: center;
}

.er-vertical-third {
    position: relative;
    top: 33%;
    transform: translateY(-50%);
}

.er-vertical-half {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.er-form-wrap img {
    width: 100%;
}

.er-red {
    background-color: rgba(121, 41, 42, 0.8);
}

.er-red:hover, .er-red:active {
    background-color: rgba(121, 41, 42);
}

.er-red:active {
    border: unset;
    box-shadow: 0px 0px 8px rgba(121, 41, 42)!important;
}

.er-green {
    background-color: rgba(51, 86, 64, 0.8);
}

.er-green:hover, .er-green:active {
    background-color: rgba(51, 86, 64)!important;
}

.er-green:active {
    border: unset;
    box-shadow: 0px 0px 8px rgba(51, 86, 64)!important;
}

/* --------------------------Django classes */

.alert-danger {
    background-color: rgba(121, 41, 42, 0.8);
    color: white;
    font-family: 'FuturaBT-Book', 'Hind';
    font-size: 0.9rem;
    text-align: center;
}

/* --------------------------Bootstrap classes */

.navbar {
    display: unset;
    margin-left: auto;
    margin-right: auto;
    min-height: 12.5rem;
    background-color: rgba(255, 255, 255);
}

.card-columns {
    column-gap: 4.6rem;
}

.card-body {
    padding: 1rem 0 4.6rem 0;
}

.card-body p {
    font-family: 'FuturaBT-Book', 'Hind';
    font-weight: 500;
}

.custom-control-label:before {
    background-color: rgba(212, 170, 60, 0.8);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgba(212, 170, 60, 0.8);
}

.er-form-wrap .row {
    margin-left: 0;
    margin-right: 0;
}

.form-group label {
    font-family: 'FuturaBT-Book', 'Hind';
    font-size: 0.8rem;
    color: rgba(0, 0, 0);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.form-group input, .form-group select, .form-group textarea {
    font-weight: 500;
    font-size: 0.8rem;
}

.btn {
    width: 100%;
    padding: 0.2rem 0.5rem;
    margin-top: 0.8rem;
}

.btn-primary {
    font-family: 'FuturaBT-Heavy', 'Hind';
    font-size: 0.9rem!important;
    font-weight: 400!important;
    letter-spacing: 0.2rem;
    border-color: rgba(0, 0, 0, 0.5);
}

.form-group {
    padding: 0;
    margin-bottom: 0.3rem;
}

.col-form-label {
    width: 33%;
    margin-bottom: 0.4rem;
    background-color: rgba(92, 109, 178, 0.7);
    border-radius: 4px;
    padding-bottom: 0.3rem;
}

.form-control, .form-control-file {
    color: rgba(0, 0, 0);
    margin-bottom: 0.4rem;
    padding: 0.2rem .75rem;
    border-radius: 4px;
    background-color: rgb(212, 170, 60, 0.7);
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    .navbar {
        display: flex;
        height: 12.5rem;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .er-nav-links {
        padding-top: 6.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .col-form-label {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
    .er-form-wrap .row {
        margin-right: -15px;
    }
}

@media(min-width: 1200px) {
    .container, .navbar {
        max-width: 1300px;
    }
}