{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

<div class="container-fluid er-checkout">

    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Please check out here</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">

            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-shipping-details">
                    <h2><i class="fas fa-angle-down"></i> Check your shipping details</h2>
                </a>
                <div class="collapse" id="er-shipping-details">
                    <form class="form-horizontal" method="post">
                        {% crispy accounts_form accounts_form.helper %}
                    </form>
                </div>
            </div>
            <div class="row er-list-wrap">
                <div class="col-6 er-checkout-left">
                    <p>Ship to :</p>
                    <p>Shipping cost :</p>
                    <p>Total :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ shipping_region }}</p>
                    <p>{{ shipping_price }} <i class="fas fa-euro-sign"></i></p>
                    <p>{{ total }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>

            <div class="er-form-wrap">
                <h2>Place your order:</h2>
            </div>
            <div class="er-form-wrap">
                <form method="post" id="payment-form" action="{% url 'checkout:check_out' %}">
                    <div id="credit-card-errors" style="display: none;">
                        <div id="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                    {% crispy payment_form payment_form.helper %}

                </form>
            </div>
        </div>

        <div class="col-12  col-md-6 col-lg-5">
            <div class="er-info-wrap">

                <h2>Thank you so much for purchasing one of my works!</h2>
                <p>After I have received your payment I will prepare the package with the greatest care and will sent
                    you
                    an e-mail with the tracking code.</p>
                <p> If there's anything you would want to change or inform me about,
                    please do not hesitate to send me an email.</p>
                <p><a href="mailto:info@lobkevanaar">info@lobkevanaar.nl</a></p>

            </div>
            <div class="row er-list-divider">
                <div class="col-12">
                    <h2>Order details:</h2>
                    <p>
                        <hr>
                    </p>

                </div>
            </div>

            {% for item in cart_items %}
            <div class="row er-list-wrap">
                <div class="col-6">
                    <div class="er-image">
                        <img src="{{ MEDIA_URL }}{{ item.work.main_image }}" alt="{{ item.work.title }}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="er-list-wrap">
                        <h5>{{ item.work.title }}</h5>
                        <p>
                            {{ item.work.shop_settings.work_type }}<br>
                            {{ item.work.shop_settings.work_size }}
                        </p>
                        <p class="er-quantity">
                            Quantity: {{ item.quantity }}
                        </p>
                    </div>
                </div>
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div>
                        <table>
                            <tr>
                                <td class="er-price-cell">
                                    {{ item.work.shop_settings.price }} <i class="fas fa-euro-sign"></i>
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:add_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-nav-button er-shop-button">
                                            <i class="fas fa-plus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:remove_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-nav-button er-shop-button">
                                            <i class="fas fa-minus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row er-list-divider">
                <div class="col-12">
                    <p>
                        <hr>
                    </p>
                </div>
            </div>

            {% endfor %}

            <div class="row">
                <div class="col-6 er-checkout-left">
                    <p>Ship to :</p>
                    <p>Shipping cost :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ shipping_region }}</p>
                    <p>{{ shipping_price }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>

            <div class="row">
                <div class="col-6 er-checkout-left">
                    <p>Total :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ total }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>



        </div>
    </div>
</div>

<!-- Make menu item active -->
<script>
    $('#er-shop-active').addClass('active');
</script>

{% endblock %}