{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/columns.css' %}">
<!-- Show all shop_works -->
<div class="container er-shop">
    <div class="row">
        <div class="col-12">
            <h1>Webshop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-columns er-relative">
                {% for work in works %}
                <div class="card border-0" id="er-hover-{{ work.id }}">
                    <a href="{% url 'shop:shop_details' pk=work.id %}" title="View this shop item">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ work.main_image }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <div class="er-slide" id="er-slide-{{ work.id }}">
                            <table>
                                <tr>
                                    <td class="er-price-cell">
                                        {{ work.shop_settings.price }} <i class="fas fa-euro-sign"></i>
                                    </td>
                                    <td class="er-cart-cell">
                                        <div class="er-nav-button er-shop-button">
                                            <a class=""
                                                href="{% url 'cart:add_cart' id=work.pk %}?next={{ request.path|urlencode }}">
                                                <i class="fas fa-plus"></i>
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>{{ work.shop_settings.work_type }}</p>
                        <hr>
                        <h5>{{ work.title }}</h5>
                        <hr>
                    </div>
                </div>
                <!-- 
                <script>
                    $('#er-slide-{{ work.id }}').slideUp();
                    $('#er-hover-{{ work.id }}').hover(function () {
                        $('#er-slide-{{ work.id }}').slideDown(500)
                    });
                    $('#er-hover-{{ work.id }}').mouseleave(function () {
                        $('#er-slide-{{ work.id }}').slideUp(500)
                    });
                </script>
                -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Load special screen events -->
<script src="{% static 'js/shop-events.js' %}"></script>

<!-- Make menu item active -->
<script>
    $('#er-shop-active').addClass('active');
</script>
{% endblock %}