{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container-md er-accounts">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    <!-- user info forms -->
    <div class="row">
        <div class="col-lg-6">
            <div class="d-none d-lg-block er-wrap">
                <h3>Account details:</h3>
            </div>
            <!-- User details -->
            <div class="er-info-wrap">
                <div class="row">
                    <div class="col-6">
                        <p class="text-left">
                            {{ active_user.first_name }} {{ active_user.last_name }}<br>
                            {{ user_details.address1 }}<br>
                            {% if user_details.address2 %}
                            {{ user_details.address2 }}<br>
                            {% endif %}
                            {{ user_details.postcode }}<br>
                            {{ user_details.country }}<br>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-left">
                            {{ user_details.telephone }}<br>
                            {{ active_user.email }}<br>
                            Ship to:<br>
                            {{ user_details.shipping.region }}<br>
                        </p>
                    </div>
                    <div class="col-12">
                        <br>
                        <h2 class="text-center">Use the forms below to update this information.</h2>
                    </div>
                </div>
            </div>
            <!-- user account form -->
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-login-details">
                    <h2><i class="fas fa-angle-down"></i> Edit login details</h2>
                </a>
                <div class="collapse" id="er-login-details">
                    <form action="{% url 'accounts:update_user' %}" class="form-horizontal" method="post">
                        <input type="hidden" name="next" value="{% url 'accounts:user_profile' %}">
                        {% crispy user_form user_form.helper %}
                    </form>
                    <p class="text-right">
                        <a href="{% url 'reset_password' %}?next={{ next }}" title="Reset your password"> Click here to
                            change your password <i class="fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>
            <!-- User details form -->
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-user-details">
                    <h2><i class="fas fa-angle-down"></i> Edit shipping details</h2>
                </a>
                <div class="collapse" id="er-user-details">
                    <form action="{% url 'accounts:add_user_details' %}" class="form-horizontal" method="post">
                        <input type="hidden" name="next" value="{% url 'accounts:user_profile' %}">
                        {% crispy details_form details_form.helper %}
                    </form>
                </div>
            </div>
        </div>
        <!-- Orders of active user -->
        <div class="col-lg-6">
            <div class="er-wrap">
                <h3 class="text-right">Your orders:</h3>
            </div>
            {% if not orders %}
            <div class="er-wrap">
                <h2 class="text-center">No orders to show yet</h2>
            </div>
            {% endif %}
            {% for order in orders %}
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#order{{order.pk}}">
                    <h2><i class="fas fa-angle-down"></i> {{ order.date }}</h2>
                </a>
            </div>
            <div class="collapse" id="order{{order.pk}}">
                <div class="row er-info-wrap">
                    <div class="col-6">
                        <h2 class="text-left">Ship to:</h2>
                        <p class="text-left">

                            {{ user.first_name }} {{ user.last_name }}<br>
                            {{ order.address1 }}<br>
                            {% if order.adress2 %}
                            {{ order.address2 }}<br>
                            {% endif %}
                            {{ order.postcode }},
                            {{ order.city }}<br>
                            {{ order.country }}
                        </p>
                    </div>
                    <div class="col-6">
                        <h2 class="text-right">Shipping: {{ order.shipping}} <i class="fas fa-euro-sign"></i></h2>
                        <h2 class="text-right">Total: {{ order.total}} <i class="fas fa-euro-sign"></i></h2>
                    </div>

                    <div class="col-12">
                        <br>
                        {% if order.sent %}
                        <h2 class="text-center">This order was sent on {{ order.sent_date }}</h2>
                        {% else %}
                        <h2 class="text-center">This order has not been sent yet</h2>
                        {% endif %}

                    </div>
                </div>
                {% for item in ordered_items %}
                {% if item.order.pk ==  order.pk %}
                <div class="row er-list-wrap">
                    <div class="col-6">
                        <a href="{% url 'shop:shop_details' pk=item.work_item.id %}" title="View this shop item">
                            <div class="er-image">
                                <img src="{{ MEDIA_URL }}{{ item.work_item.main_image }}" alt="{{ item.work.title }}">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'shop:shop_details' pk=item.work_item.id %}" title="View this shop item">
                            <div class="er-list-wrap">
                                <h5 class="text-left">{{ item.work_item.title }}</h5>
                                <p>
                                    {{ item.work_item.shop_settings.work_type }}<br>
                                    {{ item.work_item.shop_settings.work_size }}
                                </p>
                                <p class="er-quantity">
                                    Quantity: {{ item.quantity }}
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div>
                            <table>
                                <tr>
                                    <td class="er-price-cell">

                                        <span>{{ item.price }} <i class="fas fa-euro-sign"></i></span>

                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>
                            <hr>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <!-- Show total and shipping costs -->
                <div class="row">
                    <div class="col-6 er-checkout-left">
                        <p>Shipping :</p>
                    </div>
                    <div class="col-6 er-checkout-right">
                        <p>{{ order.shipping }} <i class="fas fa-euro-sign"></i></p>
                    </div>
                    <div class="col-12">
                        <p>
                            <hr>
                        </p>
                    </div>
                    <div class="col-6 er-checkout-left">
                        <p>Total :</p>
                    </div>
                    <div class="col-6 er-checkout-right">
                        <p>{{ order.total }} <i class="fas fa-euro-sign"></i></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<!-- Load special screen events (highlite shop item in navbar-->
<script src="{% static 'js/shop-events.js' %}"></script>

{% endblock %}