{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<section class="container-lg er-cart">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Your shopping cart</h1>
            </div>
        </div>
    </div>
    <!-- Show all items in the cart -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">

            {% for item in cart_items %}
            <div class="row er-list-wrap">
                <div class="col-6">
                    <a href="{% url 'shop:shop_details' pk=item.work.id %}" title="View this shop item">
                        <div class="er-image">
                            <img src="{{ MEDIA_URL }}{{ item.work.main_image }}" alt="{{ item.work.title }}">
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'shop:shop_details' pk=item.work.id %}" title="View this shop item">
                        <div class="er-list-wrap">
                            <h5>{{ item.work.title }}</h5>
                            <p>
                                {{ item.work.shop_settings.work_type }}<br>
                                {{ item.work.shop_settings.work_size }}
                            </p>
                            <p class="er-quantity">
                                Quantity: {{ item.quantity }}
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div>
                        <table>
                            <tr>
                                <td class="er-price-cell">
                                    {{ item.work.shop_settings.price }} <i class="fas fa-euro-sign"></i>
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:add_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-nav-button er-shop-button">
                                            <i class="fas fa-plus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:remove_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-nav-button er-shop-button">
                                            <i class="fas fa-minus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row er-list-divider">
                <div class="col-12">
                    <p>
                        <hr>
                    </p>
                </div>
            </div>

            {% endfor %}
            <!-- Total price and link to checkout -->
            <div class="row">
                <div class="col-6 er-checkout-left">
                    <p>Total :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ total }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'checkout:check_out' %}">
                        <button class="btn btn-primary er-green">
                            Proceed to checkout
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- message from site owner -->
        <div class="col-12 col-md-6 col-lg-5">
            <div class="er-info-wrap">

                <h2>Thank you so much for purchasing one of my works!</h2>
                <p>After I have received your payment I will prepare the package with the greatest care and will sent
                    you
                    an e-mail with the tracking code.</p>
                <p> If there's anything you would want to change or inform me about,
                    please do not hesitate to send me an email.</p>
                <p><a href="mailto:info@lobkevanaar">info@lobkevanaar.nl</a></p>

            </div>
        </div>
    </div>
</section>

<!-- Main menu highlite shop -->
<script>
    $('#er-shop-active').addClass('active');
</script>

{% endblock %}