{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'MyFonts/MyFontsWebfontsKit.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    <!--
        /**
        * @license
        * MyFonts Webfont Build ID 2961384, 2015-01-28T07:32:27-0500
        * 
        * The fonts listed in this notice are subject to the End User License
        * Agreement(s) entered into by the website owner. All other parties are 
        * explicitly restricted from using the Licensed Webfonts(s).
        * 
        * You may obtain a valid license at the URLs below.
        * 
        * Webfont: FuturaBT-Book by Bitstream
        * URL: http://www.myfonts.com/fonts/bitstream/futura/book/
        * 
        * Webfont: FuturaBT-Heavy by Bitstream
        * URL: http://www.myfonts.com/fonts/bitstream/futura/heavy/
        * 
        * 
        * License: http://www.myfonts.com/viewlicense?type=web&buildid=2961384
        * Licensed pageviews: 10,000
        * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
        * 
        * © 2015 MyFonts Inc
        */
    -->
</head>

<body>
    <header class="container-fluid">
        <!-- Navigation bar -->
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light">

                <div id="er-logo">
                    <a href="{% url 'all_works' %}">
                        <img src="{% static 'images/logo_Lobke-van-Aar.png' %}" alt="Lobke van Aar Logo" />
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <!-- Leftside menu -->
                    <div class="col-lg-4 er-links-left">
                        {% if request.user.is_staff %}
                        {# Only show admin links to staff #}
                        <div class="d-flex navbar-nav er-nav-links" id="er-admin-links">
                            <div>
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:add_works' %}"
                                        title="Add new work"><i class="fas fa-plus"></i> Work</a>
                                </div>

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:list_works' %}"
                                        title="Edit works"><i class="fas fa-edit"></i> Works</a>
                                </div>

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:list_orders' %}"
                                        title="View orders"><i class="fas fa-shopping-cart"></i> Orders</a>
                                </div>

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:list_works' %}"
                                        title="Edit works"><i class="fas fa-edit"></i> Orders</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Center menu -->
                    <div class="col-lg-4">
                        <div class="navbar-nav er-nav-links er-links-center">

                            <a class="nav-item nav-link" id="er-works-active" href="{% url 'all_works' %}">Work</a>

                            <a class="nav-item nav-link" id="er-about-active" href="#">About</a>

                            <a class="nav-item nav-link" id="er-shop-active"
                                href="{% url 'shop:all_shop_works' %}">Shop</a>

                        </div>
                    </div>
                    <!-- Rightside menu -->
                    <div class="col-lg-4 er-links-right">
                        <div class="d-flex flex-row-reverse navbar-nav er-nav-links">
                            <div id="er-shop-nav">
                                {% if not request.user.is_authenticated %}
                                {# Show only when not logged in #}
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:log_in' %}?next={{ request.path|urlencode }}"
                                        title="Log in to use the shop">
                                        <i class="fas fa-sign-in-alt"></i> Log-in<span
                                            class="sr-only">(current)</span></a>
                                </div>

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:register_user' %}?next={{ request.path|urlencode }}"
                                        title="Register as a new customer">
                                        <i class="fas fa-user-plus"></i> Register</a>
                                </div>
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                {# Show only when logged in #}
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:add_user_details' %}?next={{ request.path|urlencode }}"
                                        title="See your profile"><i class="fas fa-user"></i> Profile</a>
                                </div>

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:log_out' %}?next={{ request.path|urlencode }}"
                                        title="Log out"><i class="fas fa-sign-out-alt"></i> Log-out</a>
                                </div>
                                {% endif %}

                                {% if request.session.cart %}

                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'cart:view_cart' %}"
                                        title="View shopping cart"><i class="fas fa-shopping-cart"></i> <span
                                            class="er-cart-count">{{ request.session.cart|length }}</span></a>


                                </div>



                                {% endif %}
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'checkout:check_out' %}"
                                        title="Order and pay"><i class="fas fa-cash-register"></i> Order</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    {# Show notifications #}
    <div class="er-messages">
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    {% block content %} {% endblock %}

    <!-- Load special screen events -->
    <script src="{% static 'js/base-events.js' %}"></script>
</body>

</html>