{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobke van Aar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'MyFonts/MyFontsWebfontsKit.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    <!--
        /**
        * @license
        * MyFonts Webfont Build ID 2961384, 2015-01-28T07:32:27-0500
        * 
        * The fonts listed in this notice are subject to the End User License
        * Agreement(s) entered into by the website owner. All other parties are 
        * explicitly restricted from using the Licensed Webfonts(s).
        * 
        * You may obtain a valid license at the URLs below.
        * 
        * Webfont: FuturaBT-Book by Bitstream
        * URL: http://www.myfonts.com/fonts/bitstream/futura/book/
        * 
        * Webfont: FuturaBT-Heavy by Bitstream
        * URL: http://www.myfonts.com/fonts/bitstream/futura/heavy/
        * 
        * 
        * License: http://www.myfonts.com/viewlicense?type=web&buildid=2961384
        * Licensed pageviews: 10,000
        * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
        * 
        * © 2015 MyFonts Inc
        */
    -->
</head>

<body>
    <header class="container-md">

        <div class="er-logo" id="er-logo">
            <a href="{% url 'all_works' %}">
                <img src="{% static 'images/logo_Lobke-van-Aar.png' %}" alt="Lobke van Aar Logo" />
            </a>
        </div>
        <!-- Navigation bar -->
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse er-white-front" id="navbarNavAltMarkup">
                    <!-- Center menu -->
                    <div class="col-md-4 order-2">
                        <div class="navbar-nav er-nav-links er-links-center">

                            <a class="nav-item nav-link" id="er-works-active" href="{% url 'all_works' %}">Work</a>

                            <a class="nav-item nav-link" id="er-about-active" href="{% url 'about:about' %}">About</a>

                            <a class="nav-item nav-link" id="er-shop-active"
                                href="{% url 'shop:all_shop_works' %}?info=show">Shop</a>

                        </div>
                    </div>
                    <!-- Leftside menu -->
                    <div class="col-md-4 order-1 er-links-left">
                        {% if request.user.is_staff %}
                        {# Only show admin links to staff #}
                        <div class="navbar-nav er-nav-links" id="er-admin-links">
                            <div>
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:add_works' %}"
                                        title="Add new work"><i class="fas fa-plus"></i> Work</a>
                                </div>
                                <br class="d-sm-none">
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:list_works' %}"
                                        title="Edit works"><i class="fas fa-edit"></i> Works</a>
                                </div>
                                <br class="d-sm-none">
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:list_orders' %}"
                                        title="View orders"><i class="fas fa-shopping-cart"></i> Orders</a>
                                </div>
                                <br class="d-sm-none">
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link" href="{% url 'dashboard:edit_settings' %}"
                                        title="Edit shop settings"><i class="fas fa-cogs"></i> Settings</a>
                                </div>
                                <br class="d-sm-none">
                            </div>
                        </div>
                        {% endif %}
                    </div>


                    <!-- Rightside menu (shop) -->
                    <div class="col-md-4 order-3 er-links-right d-none d-md-block">
                        <div class="d-flex flex-row-reverse navbar-nav er-nav-links">
                            <div class="" id="er-shop-nav">
                                <!-- Cart button -->
                                {% if request.session.cart %}
                                {# Show only when something is in the cart #}
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'cart:view_cart' %}?next={{ request.path|urlencode }}"
                                        title="View shopping cart"><i class="fas fa-shopping-cart"></i> <span
                                            class="er-cart-count">{{ request.session.cart|length }}</span></a>
                                </div>
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                {# Show only when logged in #}
                                <!-- Profile button -->
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:add_user_details' %}?next={{ request.path|urlencode }}"
                                        title="See your profile"><i class="fas fa-user"></i> Profile</a>
                                </div>
                                <!-- Log-out button -->
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:log_out' %}?next={{ request.path|urlencode }}"
                                        title="Log out"><i class="fas fa-sign-out-alt"></i> Log-out</a>
                                </div>
                                {% endif %}
                                {% if not request.user.is_authenticated %}
                                {# Show only when not logged in #}

                                <!-- Register button -->
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:register_user' %}?next={{ request.path|urlencode }}"
                                        title="Register as a new customer">
                                        <i class="fas fa-user-plus"></i> Register</a>
                                </div>

                                <!-- Log-in button -->
                                <div class="er-nav-button">
                                    <a class="nav-item nav-link"
                                        href="{% url 'accounts:log_in' %}?next={{ request.path|urlencode }}"
                                        title="Log in to use the shop">
                                        <i class="fas fa-sign-in-alt"></i> Log-in<span
                                            class="sr-only">(current)</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Shop menu (up to 768px) -->
            <div class="navbar-nav er-nav-links d-block d-md-none er-shop-nav">
                <div id="er-shop-nav">


                    {% if request.session.cart %}
                    {# Show only when something is in the cart #}
                    <!-- Profile button -->
                    <div class="er-nav-button er-cart-button">
                        <a class="nav-item nav-link" href="{% url 'cart:view_cart' %}?next={{ request.path|urlencode }}"
                            title="View shopping cart"><i class="fas fa-shopping-cart"></i> <span
                                class="er-cart-count">{{ request.session.cart|length }}</span></a>
                    </div>
                    {% endif %}

                    {% if not request.user.is_authenticated %}
                    {# Show only when not logged in #}
                    <!-- Log-in button -->
                    <div class="er-nav-button er-log-button">
                        <a class="nav-item nav-link"
                            href="{% url 'accounts:log_in' %}?next={{ request.path|urlencode }}"
                            title="Log in to use the shop">
                            <i class="fas fa-sign-in-alt"></i> Log-in<span class="sr-only">(current)</span></a>
                    </div>

                    <!-- Register button -->
                    <div class="er-nav-button er-profile-button">
                        <a class="nav-item nav-link"
                            href="{% url 'accounts:register_user' %}?next={{ request.path|urlencode }}"
                            title="Register as a new customer">
                            <i class="fas fa-user-plus"></i> Register</a>
                    </div>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    {# Show only when logged in #}
                    <!-- Profile button -->
                    <div class="er-nav-button er-profile-button">
                        <a class="nav-item nav-link"
                            href="{% url 'accounts:add_user_details' %}?next={{ request.path|urlencode }}"
                            title="See your profile"><i class="fas fa-user"></i> Profile</a>
                    </div>

                    <!-- Log-out button -->
                    <div class="er-nav-button er-log-button">
                        <a class="nav-item nav-link"
                            href="{% url 'accounts:log_out' %}?next={{ request.path|urlencode }}" title="Log out"><i
                                class="fas fa-sign-out-alt"></i> Log-out</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    {# Show notifications #}
    <div class="er-messages">
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    {% if next %}
    {# if a next page is given show back button #}
    <div class="row">
        <a href="{{next}}">
            <div class="er-page-back">
                <div class="er-back-inner">

                    <i class="fas fa-undo"></i>
                </div>
            </div>
        </a>
    </div>
    {% endif %}

    {% block content %} {% endblock %}
    <footer class="er-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 order-1 col-md-6 order-md-4 col-lg-3 order-lg-1 er-footer-col er-web er-web-display">
                    <div class="er-footer-wrap">
                        <p>
                            <a href="tel:+31651199420" title="Call lobke van aar">+31 6 511 99 420</a>
                            -
                            <a href="mailto:info@lobkevanaar"
                                title="Sent email to lobke van aar">info@lobkevanaar.nl</a>

                        </p>
                    </div>
                </div>
                <div class="col-2 order-2 col-md-1 order-md-1 col-lg-1 order-lg-2 er-footer-col">
                    <div class="er-footer-wrap">
                        <p>
                            <a href="https://www.facebook.com/lobkevanaar/" target="blank"
                                title="Lobke van Aar - Facebook page">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-8 order-3 col-md-10 order-md-2 col-lg-4 order-lg-3 er-footer-col">
                    <div class="er-footer-wrap">
                        <p>


                            Lobke van Aar illustrations

                        </p>
                    </div>
                </div>
                <div class="col-2 order-4 col-md-1 order-md-3 col-lg-1 order-lg-4 er-footer-col">
                    <div class="er-footer-wrap">
                        <p>

                            <a href="https://www.instagram.com/lobkevanaar/" target="blank"
                                title="Lobke van Aar - instagram page">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-12 order-5 col-md-6 order-md-5 col-lg-3 order-lg-5 er-footer-col er-web er-web-display">
                    <div class="er-footer-wrap">
                        <p>
                            <a href="https://www.evertrot.nl" target="blank" title="Evert Rot webdesgin-development">
                                Web-design/development: Evert Rot
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <!-- Load special screen events -->
    <script src="{% static 'js/base-events.js' %}"></script>
</body>

</html>