{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- New password set notification -->
<section class="container-md er-accounts">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Your password has been changed</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 er-middle-screen">
            <div class="er-info-wrap">
                <p>
                    Your password has successfully been changed.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}