{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-md er-accounts">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Reset your password</h1>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-lg-6 offset-lg-3 er-third-screen">
            <div class="er-form-wrap">
                <p class="text-left">
                    <a class="" href="{% url 'accounts:log_in' %}?next={{ next }}" title="Goto login page">
                        <i class="fas fa-sign-in-alt"></i> Got here by mistake? Please log-in here</a>
                </p>
                <form class="form-horizontal" method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% crispy form form.helper %}
                </form>
                <p>
                    <a class="" href="{% url 'accounts:register_user' %}?next={{ next }}"
                        title="Register as a new customer">
                        Don't have an account? Please register here <i class="fas fa-user-plus"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}