{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-md er-accounts">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Set a new password</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 er-third-screen">
            <div class="er-form-wrap">
                <form class="form-horizontal" method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% crispy form form.helper %}
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}