{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard %}
<!-- Edit works -->
<div class="row">
    <div class="col-lg-6">
        <div class="er-wrap">
            <h3>Edit {{ work.title }}:</h3>
        </div>
        <!-- About this page -->
        <div class="er-form-wrap">
            <a data-toggle="collapse" href="#er-help-work">
                <h2><i class="fas fa-angle-down"></i> About this page</h2>
            </a>
        </div>
        <div class="collapse er-info-wrap" id="er-help-work">
            <h2 class="text-left">Edit or add a work:</h2>
            <p class="text-left">This panel is used to add new works to the portfolio. Make sure that you
                first add a category in the 'Manage Categories' panel.<br>
                The Vertical/Horizontal setting will determine the layout of the details page in the portfolio for that
                work, depending on the dimensions of the main image.
            </p>
            <h2 class="text-left">Shop items:</h2>
            <p class="text-left">
                When a new work is set to be a shop item, a new panel with settings for the shop will be
                automatically shown. Make sure again, that you first add the work type, work size and material that the
                work uses, before making the shop settings.<br>
                If you set a discount for an item, a small banner will be shown on that item in the shop. The price is
                then automatically calculated from the percentage you set.
            </p>
            <h2 class="text-left">Sort order:</h2>
            <p class="text-left">
                The sorting order of both the portfolio works and the shop items, will override the standard sorting,
                wich is by submitted date.<br>Because of the layout of the portfolio, where items in the grid have
                different heights, the works are sorted from top to bottom and then left to right. This is
                quite unpredictable, so it might take a little playing around to get the perfect order.<br>
            </p>
            <h2 class="text-left">Manage extra images:</h2>
            <p class="text-left">Multiple extra images can be uploaded for each work.<br>
                The portfolio details page can only show a maximum of 10 images per work.<br>A collection and a shop
                item can have more
                images. A collection is used for a larger set of single images of a similar kind. These are displayed in
                a
                carroussel.</p>
            <p class="text-left">When a work is both in the portfolio and in the shop you can set a different main image
                for use in the shop. You can do this at the extra images panel.<br>Also the sorting order for extra
                images
                can be set here. This is especially usefull for perfecting the details view in the portfolio.</p>
        </div>

        <div class="er-form-wrap">
            <a data-toggle="collapse" href="#er-work-details">
                {% if work %}
                <h2><i class="fas fa-angle-down"></i> Edit work details</h2>
                {% else %}
                <h2><i class="fas fa-angle-down"></i> Add a new work</h2>
                {% endif %}
            </a>
        </div>
        <!-- Edit/add a work -->
        <div class="er-form-wrap">
            {% if work %}
            <div class="collapse" id="er-work-details">
                {% else %}
                <div id="er-work-details">
                    {% endif %}
                    {% crispy edit_works edit_works.helper %}
                </div>
            </div>
            <!-- Add extra images -->
            {% if add_images %}
            {# Check if a work already exists #}
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-extra-images">
                    <h2><i class="fas fa-angle-down"></i> Upload extra images</h2>
                </a>
                <div class="collapse" id="er-extra-images">
                    {% crispy add_images add_images.helper %}
                </div>
            </div>
            {% endif %}

            <!-- Add/edit shop settings for this work -->
            {% if edit_shop %}
            {# Check if there is an existing work with shopitem #}
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-shop-details">
                    <h2><i class="fas fa-angle-down"></i> Edit shop details</h2>
                </a>
                <div class="collapse" id="er-shop-details">
                    {% crispy edit_shop edit_shop.helper %}
                </div>
            </div>
            {% endif %}
            <!-- edit global attribute for works and shop items -->
            {% if not work %}
            {# if initial work create column #}
        </div>
        <div class="col-lg-6">
            {% endif %}
            <div class="er-wrap">
                {% if work %}
                <h3>Manage global attributes:</h3>
                {% else %}

                <h4 class="d-none d-lg-block">Manage global attributes:</h4>
                <h3 class="d-lg-none">Manage global attributes:</h3>
                {% endif %}
            </div>
            <!-- Edit/add categories -->
            <div class="er-form-wrap er-attr-form">
                <a data-toggle="collapse" href="#er-manage-categories">
                    <h2><i class="fas fa-angle-down"></i> Manage categories</h2>
                </a>
                <div class="collapse" id="er-manage-categories">
                    <table class="er-dashboard-list table table-hover">
                        <!-- Create a new category -->
                        <tr>
                            <form method="post" action="{% url 'dashboard:add_category' %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="category" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>

                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Create" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                        </tr>
                        <!-- List all categories with edit forms and delete button -->
                        {% for category in categories %}
                        <tr>
                            <form method="post" action="{% url 'dashboard:edit_categories' pk=category.id %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="category" value="{{category.name}}" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>
                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                            <td class="er-list-button">
                                <a href="{% url 'dashboard:edit_categories' pk=category.id %}?next={{ request.path|urlencode }}"
                                    title="Delete this Category?">
                                    <button class="btn btn-primary er-red">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- Edit/add work-types -->
            <div class="er-form-wrap er-attr-form">
                <a data-toggle="collapse" href="#er-manage-worktypes">
                    <h2><i class="fas fa-angle-down"></i> Manage work types</h2>
                </a>
                <div class="collapse" id="er-manage-worktypes">
                    <table class="er-dashboard-list table table-hover">
                        <!-- Create a new work-type -->
                        <tr>
                            <form method="post" action="{% url 'dashboard:add_work_type' %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="worktype" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>

                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Create" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                        </tr>
                        <!-- List all work-types with edit forms and delete button -->
                        {% for type in types %}
                        <tr>
                            <form method="post" action="{% url 'dashboard:edit_work_types' pk=type.id %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="worktype" value="{{type.name}}" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>
                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                            <td class="er-list-button">
                                <a href="{% url 'dashboard:edit_work_types' pk=type.id %}?next={{ request.path|urlencode }}"
                                    title="Delete this work type?">
                                    <button class="btn btn-primary er-red">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- Edit/add work-sizes -->
            <div class="er-form-wrap er-attr-form">
                <a data-toggle="collapse" href="#er-manage-worksizes">
                    <h2><i class="fas fa-angle-down"></i> Manage work sizes</h2>
                </a>
                <div class="collapse" id="er-manage-worksizes">
                    <table class="er-dashboard-list table table-hover">
                        <!-- Create a new work-size -->
                        <tr>
                            <form method="post" action="{% url 'dashboard:add_work_size' %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="worksize" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>

                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Create" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                        </tr>
                        <!-- List all work-sizes with edit forms and delete button -->
                        {% for size in sizes %}
                        <tr>
                            <form method="post" action="{% url 'dashboard:edit_work_sizes' pk=size.id %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="worksize" value="{{size.name}}" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>
                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                            <td class="er-list-button">
                                <a href="{% url 'dashboard:edit_work_sizes' pk=size.id %}?next={{ request.path|urlencode }}"
                                    title="Delete this Size?">
                                    <button class="btn btn-primary er-red">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- Edit/add materials -->
            <div class="er-form-wrap er-attr-form">
                <a data-toggle="collapse" href="#er-manage-materials">
                    <h2><i class="fas fa-angle-down"></i> Manage materials</h2>
                </a>
                <div class="collapse" id="er-manage-materials">
                    <table class="er-dashboard-list table table-hover">
                        <!-- Create a new material -->
                        <tr>
                            <form method="post" action="{% url 'dashboard:add_material' %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="material" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>

                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Create" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                        </tr>
                        <!-- List all materials with edit forms and delete button -->
                        {% for material in materials %}
                        <tr>
                            <form method="post" action="{% url 'dashboard:edit_materials' pk=material.id %}">
                                {% csrf_token %}
                                <td class="text-left">
                                    <input type="text" name="material" value="{{material.name}}" maxlength="200"
                                        class="textinput textInput form-control">
                                </td>
                                <td class="er-list-button">
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary er-green"
                                        id="submit-id-submit">
                                </td>
                            </form>
                            <td class="er-list-button">
                                <a href="{% url 'dashboard:edit_materials' pk=material.id %}?next={{ request.path|urlencode }}"
                                    title="Delete this material?">
                                    <button class="btn btn-primary er-red">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
        {% if not work %}
    </div>
    {% endif %}

    <!-- Manage images -->
    {% if work %}
    {# Check if this is an existing work #}
    <div class="col-lg-6">
        <div class="er-form-wrap">
            <h4>Manage images:</h4>
        </div>
        <!-- Display main images -->
        <div class="row">
            <div class="col-6">
                <div class="er-form-wrap">
                    <a data-toggle="collapse" href="#er-main-image">
                        <h2><i class="fas fa-angle-down"></i> Work main</h2>
                    </a>
                </div>

                <div class="collapse show er-form-wrap" id="er-main-image">
                    <img src="{{ MEDIA_URL }}{{ work.main_image }}" alt="{{ work.title }}">
                </div>
            </div>
            <div class="col-6">
                {% if work.shop_settings.main_image %}
                {# Show the shop main image if assigned #}
                <div class="er-form-wrap">
                    <a data-toggle="collapse" href="#er-shop-image">
                        <h2><i class="fas fa-angle-down"></i> Shop main</h2>
                    </a>
                </div>
                <div class="collapse show er-form-wrap" id="er-shop-image">
                    <img src="{{ MEDIA_URL }}{{ work.shop_settings.main_image.work_image }}" alt="{{ work.title }}">
                </div>
                {% endif %}
            </div>

        </div>



        {% endif %}
        <!-- Display extra images, set display order and assign a shop default-->
        {% if images|length > 0 %}
        <div class="er-form-wrap">
            <a data-toggle="collapse" href="#er-edit-images">
                <h2><i class="fas fa-angle-down"></i> Extra images:</h2>
            </a>
        </div>
        <div class="collapse er-wrap" id="er-edit-images">
            <table class="er-dashboard-list table table-hover">
                <tr>
                    <th class="text-center">
                        View order
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th class="text-center">
                        Shop main
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="er-list-button">
                        {% if work.shop_settings %}
                        {# check if a shop item is already made #}
                        <a href="{% url 'dashboard:unset_shop_image' pk=work.shop_settings.id %}?next={{ request.path|urlencode }}"
                            title="Unset as shop default?">
                            <button class="btn btn-primary er-red">Unset</button>
                        </a>
                        {% endif %}
                    </td>
                    <td></td>
                </tr>

                {% for image in images %}
                <tr>
                    <td class="er-list-button">
                        <form method="post" id="{{image.id}}"
                            action="{% url 'dashboard:set_image_order' pk=image.id %}">
                            {% csrf_token %}
                            <input type="number" name="sort_order" value="{{image.sort_order}}"
                                class="numberinput form-control" required="" id="id_sort_order">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="submit" name="submit" value="Set" class="btn btn-primary er-green"
                                id="submit-id-submit">
                        </form>
                    </td>
                    <td class="er-list-icons">
                        {% if work.work_item %}
                        <a href="{% url 'works:work_details' pk=work.id %}?next={{ request.path|urlencode }}"
                            title="View this works details">
                            <i class="fas fa-palette"></i>
                        </a><br>
                        {% endif %}
                        {% if work.shop_item %}
                        <a href="{% url 'shop:shop_details' pk=work.id %}?next={{ request.path|urlencode }}"
                            title="View this shop item">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        {% endif %}

                    </td>

                    <td class="er-list-image">
                        <a href="{% url 'works:work_details' pk=work.id %}?next={{ request.path|urlencode }}">
                            <img src="{{ MEDIA_URL }}{{ image.work_image }}" alt="{{work.title}}">
                        </a>

                    </td>
                    <td class="er-list-button">
                        <a href="{% url 'dashboard:set_shop_image' pk=image.id %}?next={{ request.path|urlencode }}"
                            title="Set as shop default?">
                            <button class="btn btn-primary er-green">Set</button>
                        </a>
                    </td>
                    <td class="er-list-button">

                        <a href="{% url 'dashboard:delete_image' pk=image.id %}?next={{ request.path|urlencode }}"
                            title="Delete this image?">
                            <button class="btn btn-primary er-red">Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if work.work_item %}
        <a href="{% url 'works:work_details' pk=work.id %}?next={{ request.path|urlencode }}">
            <h3><i class="fas fa-eye"></i> Preview work view</h3>
        </a>
        {% endif %}
        {% if work.shop_item %}
        <a href="{% url 'shop:shop_details' pk=work.id %}?next={{ request.path|urlencode }}">
            <h3><i class="fas fa-eye"></i> Preview shop view</h3>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}