{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard %}

<!-- Show a list of all orders -->
<div class="row">
    <div class="col-md-12">
        <table class="er-dashboard-list table table-responsive-sm table-hover">
            <tr>
                <th>
                    Order date:
                </th>
                <th>
                    Total:
                </th>
                <th>
                    Paid:
                </th>
                <th>
                    Sent:
                </th>
                <th>
                    Address:
                </th>
                <th>
                    E-mail:
                </th>

                <th>
                    Ship to:
                </th>

                <th>

                </th>
            </tr>
            {% for order in orders %}
            <tr>
                <td class="er-list-accent">
                    {{ order.date }}
                </td>
                <td class="er-list-accent">
                    <a href="{% url 'dashboard:view_order' pk=order.id %}?next={{ request.path|urlencode }}"
                        title="View this order">
                        {{ order.total }}
                    </a>
                </td>

                <!-- Order status -->
                {% if order.paid %}
                <td>
                    <a href="{% url 'dashboard:update_order' pk=order.id action='notpaid' %}?next={{ request.path|urlencode }}"
                        title="Mark order as not paid">
                        <div class="er-status-button er-green">
                            <div class="er-back-inner">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'dashboard:update_order' pk=order.id action='paid' %}?next={{ request.path|urlencode }}"
                        title="Mark order as paid">
                        <div class="er-status-button er-red">
                            <div class="er-back-inner">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </a>
                </td>
                {% endif %}

                {% if order.sent %}
                <td>
                    <a href="{% url 'dashboard:update_order' pk=order.id action='notsent' %}?next={{ request.path|urlencode }}"
                        title="Mark order as not sent">
                        <div class="er-status-button er-green">
                            <div class="er-back-inner">

                                <i class="fas fa-check"></i>

                            </div>
                        </div>
                    </a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'dashboard:update_order' pk=order.id action='sent' %}?next={{ request.path|urlencode }}"
                        title="Mark order as sent">
                        <div class="er-status-button er-red">
                            <div class="er-back-inner">

                                <i class="fas fa-times"></i>

                            </div>
                        </div>
                    </a>
                </td>
                {% endif %}

                <!-- Shipping address -->
                <td>
                    <a href="{% url 'dashboard:view_order' pk=order.id %}?next={{ request.path|urlencode }}"
                        title="View this order">
                        <p class="text-center">
                            {{ order.user.first_name }} {{ order.user.last_name }}<br>
                            {{ order.address1 }}, {{ order.address2 }}<br>
                            {{ order.postcode }}, {{ order.city }}<br>
                            {{ order.country }}<br>
                            Tel: {{ order.user.user_details.telephone }}<br>
                        </p>
                    </a>
                </td>

                <!--user's email -->
                <td>
                    <a href="mailto:{{ order.user.email }}" title="E-mail this customer">
                        {{ order.user.email }}
                    </a>

                </td>

                <!-- Shipping costs for order -->
                <td>
                    {{order.user.user_details.shipping.region}}<br>
                    {{order.user.user_details.shipping.price }}
                </td>

                <!-- Action buttons -->
                <td class="er-list-button">
                    <a href="{% url 'dashboard:view_order' pk=order.id %}?next={{ request.path|urlencode }}"
                        title="View order">
                        <button class="btn btn-primary er-green">View</button>
                    </a>
                    <a href="{% url 'dashboard:update_order' pk=order.id action='delete' %}?next={{ request.path|urlencode }}"
                        title="Delete this order">
                        <button class="btn btn-primary er-red">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}