{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard %}

<!-- Global site settings -->
<div class="row">
    <div class="col-lg-6">
        <!-- Set a shop message banner  -->
        <div class="er-form-wrap">
            <a data-toggle="collapse" href="#er-shop-message">
                <h2><i class="fas fa-angle-down"></i> Set a shop message</h2>
            </a>
            <div class="collapse" id="er-shop-message">
                <form method="post" action="{% url 'dashboard:set_shop_message' %}">
                    {% crispy message_form message_form.helper %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" name="submit" value="Set" class="btn btn-primary er-green">
                </form>
            </div>
        </div>

        <!-- Edit/add shipping costs -->
        <div class="er-form-wrap er-attr-form">
            <a data-toggle="collapse" href="#er-manage-shipping">
                <h2><i class="fas fa-angle-down"></i> Manage shippings costs</h2>
            </a>
            <div class="collapse" id="er-manage-shipping">
                <table class="er-dashboard-list table table-hover">
                    <!-- Create a new region -->
                    <th class="text-center">Region</th>
                    <th class="text-center">Price</th>

                    <tr>
                        <form method="post" action="{% url 'dashboard:add_shipping' %}">
                            {% csrf_token %}
                            <td class="text-left">
                                <input type="text" name="region" maxlength="50"
                                    class="textinput textInput form-control">
                            </td>
                            <td>
                                <input type="number" name="price" step="0.01" class="numberinput form-control"
                                    required="">
                            </td>
                            <td class="er-list-button">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit" name="submit" value="Create" class="btn btn-primary er-green"
                                    id="submit-id-submit">
                            </td>
                        </form>
                    </tr>
                    <!-- List all regions with edit forms and delete button -->
                    {% for shipping in shippings %}
                    <tr>
                        <form method="post" action="{% url 'dashboard:edit_shipping' pk=shipping.id %}">
                            {% csrf_token %}
                            <td class="text-left">
                                <input type="text" name="region" value="{{shipping.region}}" maxlength="50"
                                    class="textinput textInput form-control">
                            </td>
                            <td>
                                <input type="number" name="price" value="{{ shipping.price }}" step="0.01"
                                    class="numberinput form-control" required="">
                            </td>
                            <td class="er-list-button">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="submit" name="submit" value="Update" class="btn btn-primary er-green"
                                    id="submit-id-submit">
                            </td>
                        </form>
                        <td class="er-list-button">
                            <a href="{% url 'dashboard:edit_shipping' pk=shipping.id %}?next={{ request.path|urlencode }}"
                                title="Delete this region?">
                                <button class="btn btn-primary er-red">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="er-wrap">
            <h3>Edit</h3>
        </div>
        <div class="er-form-wrap">
        </div>
    </div>
</div>

{% endblock %}